<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- Meta tags Obrigatórias -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <title>Olá, mundo!</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="app">

                    <ul class="nav">
                        <li v-for="menu in menus" class="nav-item">
                            <a class="nav-link active" :href="menu.url">{{menu.name}}</a>
                        </li>
                    </ul>

                    <hr>

                    <div class="jumbotron">
                        <h1 class="display-4">{{ message }}</h1>
                        <p class="lead">Este é um simples componente jumbotron
                            para chamar mais atenção a um determinado conteúdo
                            ou informação.</p>
                        <hr class="my-4">
                        <p>Ele usa classes utilitárias para tipografia e
                            espaçamento de conteúdo, dentro do maior container.</p>
                        <button @click="vueClick('teste')" class="btn btn-primary btn-lg" 
                            role="button">Leia mais</button>
                    </div>

                    <p>{{ message }}</p>
                </div>
            </div>
        </div>

        <script>
new Vue({
  el: '#app',
  data: {
    message: 'Olá Vue.js!',
    menus: [
    {
            name: 'Início',
            url: 'http://www.google.com'
        },
        {
            name: 'Sobre',
            url: 'http://www.facebook.com'
        },
        {
            name: 'Serviços',
            url: 'http://www.twitter.com'
        },
        {
            name: 'Contato',
            url: 'http://www.instagram.com'
        },
    ]
  },
  methods: {
      vueClick(variavel) {
        alert("Exibindo o que está em " + variavel)
      }
  },
  computed: {
      
  },
  created() {
      
  },
})
</script>

        <!-- JavaScript (Opcional) -->
        <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    </body>
</html>
